.container.mb-5
	%h3 Servicios
	%p.lead Categorias
	%hr/
	.row
		.col-md-9.col-12
			.row.mb-5
				.col-3
					%img.img-fluid{:src => "images/cards1.png"}/
					%p.lead.text-center Fecha
				.col-9
					%a{:href => "#"}
						%h3 Este es solo un mensaje de muestra.
					%a{:href => ""}
						%span.badge.badge-default Default
					%a{:href => ""}
						%span.badge.badge-primary Primary
					%a{:href => ""}
						%span.badge.badge-success Success
					%p Este es un parrafo para rellenar la web.Este es un parrafo para rellenar la web.Este es un parrafo para rellenar la web.Este es un parrafo para rellenar la web.Este es un parrafo para rellenar la web.Este es un parrafo para rellenar la web.
					%p Este es un parrafo para rellenar la web.Este es un parrafo para rellenar la web.
					%a.btn.btn-warning.btn-sm{:href => ""} Leer mas...

		/ aside
		.col-md-3.col-12
			/ Cards
			.card.card-inverse.card-primary.mb-3.text-center
				.card-block
					%blockquote.card-blockquote
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						%footer
							Someone famous in
							%cite{:title => "Source Title"} Source Title