%nav.navbar.navbar-expand-lg.navbar-light.bg-primary
	%a.navbar-brand{:href => "#"} Home
	%button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
		%span.navbar-toggler-icon
	#navbarNavAltMarkup.collapse.navbar-collapse
		.navbar-nav
			-if current_user.present? and current_user.type_user == "administrador"
				%a.nav-item.nav-link{:href => "/categories"} Categorias
			%a.nav-item.nav-link{:href => "/services"} Servicios
			-if user_signed_in?
				%a.nav-item.nav-link{"data-method" => "delete",href:"/users/sign_out"} Cerrar sesión
			-else
				%a.nav-item.nav-link{:href => "/users/sign_in"} Iniciar sesión
-#if user_signed_in?
	=#link_to "Cerrar sesión",destroy_user_session_path, method: :delete,class:"white-text"

