.full-height.row.middle-xs.center-xs.no-margin.white-text.main-background
	=grid xs:10,sm:8,md:6,lg:4 do
		.big-padding.text-left.black-text
			%h3.no-margin.bold Registro de usuario
			.top-space
				=render "devise/registrations/new"